name: learn-github-action
run-name: ${{github.actor}}learning github action
on:
  push:
    branches: [main]
jobs:
  check-out-version:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with:
          node-version: '20'
      - run: npm install -g bats
      - run: bats -v